aiohttp==3.11.11
anthropic==0.45.2
asyncio==3.4.3
cryptography==44.0.0
google-generativeai==0.8.4
gql==3.5.0
hubspot-api-client==11.1.0
openai==1.61.0
pydantic-settings==2.7.1
pydantic==2.10.6
pyngrok==7.2.3
python-dotenv==1.0.1
ratelimit==2.2.1
requests==2.32.3
requests-toolbelt==1.0.0
stripe==11.5.0
tenacity==9.0.0
